fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
agora-token-builder
python-dotenv
requests
websockets
google-genai
librosa
numpy
scipy
matplotlib
pinecone
motor
pyannote.audio
speechbrain
qdrant-client
torchaudio==2.2.2
torch==2.2.2
psycopg2-binary
python-multipart
supabase
boto3
soundfile
